<div id="appRootContainer" class="root-container">
    <div id="headerContainer">
        <app-header></app-header>
    </div>
    <div id="midContainer">

        <div id="wrapper">
            <div class="overlay" id="overlay"></div>
          
            <!-- Sidebar -->
          
            <div id="leftPanelContainer">
                <app-left-side-panel></app-left-side-panel>
            </div>
            <!-- /#sidebar-wrapper -->
          
            <!-- Page Content -->
           
            <div id="contentContainer">
                <app-content></app-content>
            </div>
            <!-- /#page-content-wrapper -->
          
          </div>
    </div>
    <div id="footerContainer">
        <app-footer></app-footer>
    </div>
</div>
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://lh3.googleusercontent.com/-ZAS0BBE8Sm0/WaFOdATxW9I/AAAAAAAAAf4/8FfuKoWw6n0cvynAv7Fv2sdYESliQEm4wCL0BGAYYCw/h18/2017-08-26.png" alt="L A N T E R N">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Fundamentals<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">More <i class="ion-ios-arrow-down"></i></a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="input-group search-box">
            <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="ion-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
      
  </nav>
  
  <section class="caroulsel">
    <div class="caroulsel-wrap">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </section> -->



<!-- SidePanel Starts { -->


<!-- /#wrapper -->

<!-- } Side Panel Ends -->
